.notes {
	background-color: $whiteDark;
	color: $dark;
	left: min(100%, 250px);
	overflow-y: scroll;
	z-index: 9;

	border-right: 1px solid $gray;

	&__top {
		flex-direction: column;
		gap: 0.3em;

		position: sticky;
		background-color: $whiteDark;
		z-index: 10;
		top: 0;

		&-notebook {
			font-size: 1.3em;
		}
	}
	&__btn {
		background-color: transparent;

		&:hover {
			background-color: $gray !important;
		}
	}
	&__icon {
		color: $dark !important;
	}

	&__list {
		&-item {
			position: relative;
			height: 3em;
			padding-bottom: 0.6em;

			&-checkbox {
				position: absolute;

				left: 0;
				top: 0;
				bottom: 0;
				margin-left: 0.5em;

				margin-top: auto;
				margin-bottom: auto;
			}

			&-text {
				overflow: hidden;
				max-width: calc(186px - 1.5em) !important;
				margin-left: 1.5em;
				display: block !important;
			}

			&-edit-date {
				position: absolute;
				bottom: 4px;
				left: 0;
				right: 0;
				text-align: center;
			}

			&:hover {
				background-color: $gray;
			}

			&--active {
				position: relative;
				&::before {
					content: "Selected";
					position: absolute;

					top: 0;
					left: 0;
					right: 0;
					font-weight: 300;
					font-size: 0.75em;
					text-align: center;
				}
			}
		}
	}
	&__bottom {
		margin-top: auto;
		background-color: $whiteDark;
	}
	&--hidden {
		transform: translateX(-200%);
	}
	&--half {
		transform: translateX(-100%);
		@media (max-width: 500px) {
			transform: translateX(-100vw);
		}
	}
	@media (max-width: 500px) {
		left: 100vw;
	}
}
