$dark: #222;
$darker: #111;

$gray: #666;
$gray: #ccc;
$grayDark: #555;

$whiteLight: #fff;
$white: #f5f5f5;
$whiteDark: #ddd;

$padding: 1em 2em;

// $navWidth: clamp(200px, 100%, 500px);
$navWidth: 250px;
